* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  border: 1px solid red;
  float: left;
}

.cart-itmes {
  display: inline-block;
  background-color: yellow;
  border-radius: 500px;
  font-size: 0.78rem;
  padding: 2.5px 7px;
  color: red;
  font-weight: bolder;
}

.col-xs-1 {
  width: 8.33%;
}
.col-xs-2 {
  width: 16.66%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33.33%;
}
.col-xs-5 {
  width: 41.66%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-7 {
  width: 58.33%;
}
.col-xs-8 {
  width: 66.66%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-10 {
  width: 83.33%;
}
.col-xs-11 {
  width: 91.66%;
}
.col-xs-12 {
  width: 100%;
}

label {
  font-size: 0.85rem;
  font-weight: 500;
  display: block;
}

select {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: block;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: 1.5px solid lightgray;
  outline: none;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: grey;
  font-size: 0.8rem;
}

select:focus {
  border: 1.5px solid snow;
  border-radius: 0.3rempx;
  box-shadow: 0 0 5px rgb(65, 153, 225);
}

#search-box {
  padding-left: 2rem;
}

input[type="text"] {
  background-image: url("images/search-solid.svg");
  background-position: 0.5rem 0.5rem;
  background-repeat: no-repeat;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 0.4rem 0.9rem;
  border: 1.5px solid lightgray;
  border-radius: 20px;
  outline: none;
  margin: 1rem 0;
  color: grey;
  font-weight: 500;
  font-size: 0.85rem;
}

input#myRange {
  display: block;
}

input [type="range"] {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

input[type="text"]:focus {
  border: 1.5px solid snow;
  border-radius: 20px;
  box-shadow: 0 0 5px rgb(65, 153, 225);
}

#footer {
  background-color: royalblue;
  margin: 5rem 0;
  color: white;
}

#author {
  text-align: center;
  padding: 5rem 0;
}

#aside {
  padding: 0 2rem;
}

#i-toggler {
  margin: auto;
}

#toggler {
  color: white;
  font-size: 1.5rem;
}

body {
  background-color: snow;
}

#logo {
  text-align: center;
  margin: auto;
  color: white;
  font-size: 1.5rem;
}

#navbar {
  background-color: royalblue;
  padding: 1rem;
}

#useful-links {
  text-align: center;
  margin-top: 1rem;
}

#auth {
  text-align: center;
  padding-right: 5px;
}

#cart {
  text-align: center;
}

a#logo {
  background-color: royalblue;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  width: 10rem;
  text-align: left;
  background-color: midnightblue;
}

a:hover {
  color: white;
  text-shadow: 0px 0px 1px beige;
  background-color: darkblue;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  body {
    font-size: 0.97rem;
  }

  a {
    padding: 0px 5px;
    background-color: royalblue;
    display: inline;
  }

  a:hover {
    background-color: royalblue;
    display: inline;
  }

  #logo {
    font-size: 1rem;
    padding-bottom: 0;
    margin: 0;
  }

  #navbar {
    display: flex;
  }

  #useful-links {
    padding: 0;
    background-color: royalblue;
    margin-top: 0;
  }

  #auth {
    text-align: right;
    padding-right: 5px;
    padding: 0;
    background-color: royalblue;
  }

  #toggler {
    display: none;
  }

  #cart {
    background-color: royalblue;
  }

  .hidden {
    display: inline;
  }

  #aside {
    padding: 0 5rem;
  }

  #search-form {
    padding: 0 10rem;
  }

  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  body {
    font-size: 1.1rem;
  }

  #logo {
    font-size: 1.1rem;
    padding-bottom: 0;
    margin: 0;
  }

  #aside {
    padding: 0 2rem;
  }

  #search-form {
    padding: 0;
  }

  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
