* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  border: 1px solid red;
  float: left;
}

.col-xs-1 {
  width: 8.33%;
}
.col-xs-2 {
  width: 16.66%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33.33%;
}
.col-xs-5 {
  width: 41.66%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-7 {
  width: 58.33%;
}
.col-xs-8 {
  width: 66.66%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-10 {
  width: 83.33%;
}
.col-xs-11 {
  width: 91.66%;
}
.col-xs-12 {
  width: 100%;
}

#i-toggler {
  margin: auto;
}

#toggler {
  color: white;
  font-size: 1.5rem;
}

body {
  background-color: snow;
}

#logo {
  text-align: center;
  margin: auto;
  color: white;
  font-size: 1.5rem;
}

#navbar {
  background-color: royalblue;
  padding: 1rem;
}

#useful-links {
  text-align: center;
  margin-top: 1rem;
  display: block;
}

#auth {
  text-align: center;
  padding-right: 5px;
  display: block;
}

#cart {
  text-align: center;
  display: block;
}

a#logo {
  background-color: royalblue;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  width: 10rem;
  text-align: left;
  background-color: midnightblue;
}

a:hover {
  color: white;
  text-shadow: 0px 0px 1px beige;
  background-color: darkblue;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  body {
    font-size: 1rem;
  }

  a {
    padding: 0px 12px;
    background-color: royalblue;
    display: inline;
  }

  a:hover {
    background-color: royalblue;
    display: inline;
  }

  #logo {
    font-size: 1rem;
    padding-bottom: 0;
    margin: 0;
  }

  #navbar {
    display: flex;
  }

  #useful-links {
    padding: 0;
    background-color: royalblue;
    margin-top: 0;
  }

  #auth {
    text-align: right;
    padding-right: 5px;
    padding: 0;
    background-color: royalblue;
  }

  #toggler {
    display: none;
  }

  #cart {
    background-color: royalblue;
  }

  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  body {
    font-size: 1.1rem;
  }

  #logo {
    font-size: 1.1rem;
    padding-bottom: 0;
    margin: 0;
  }

  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
