body {
  font-size: 1.1rem;
}

div {
  /* border: 0.2px solid red; */
}

/* Smartphones */

.main-content {
  /* background-color: red; */
  width: auto;
  padding: 15px;
}

.item-details {
  height: 100px;
  padding-left: 15px;
  font-size: 1rem;
}

.item-name {
  max-height: 40px;
  overflow: hidden;
}

.item-price {
  font-size: 1.5rem;
}

.item {
}

img {
  display: block;
  max-width: 230px;
  max-height: 70px;
  width: auto;
  height: auto;
  border-radius: 5px;
  border: 2px solid lightgrey;
}

img:hover {
}

.item {
  display: flex;
  height: 70px;
  background-color: white;
  padding: 15px;
  border-bottom: 2px solid lightgrey;
  border-radius: 20px 0 40px 0;
}

span {
  background-color: white;
  border-radius: 101px;
  padding: 1px 3.5px;
}

.content {
  background-image: linear-gradient(to bottom, white, rgb(247, 232, 183));
}

a {
  text-decoration: none;
  text-align: center;
  text-shadow: 0 0 1px rgb(97, 63, 126);
}

.navbar {
  padding: 15px;
  display: grid;
  grid-template-areas:
    "toggle logo cart"
    "toggle-items toggle-items toggle-items";
  justify-content: space-between;
  background-color: rgb(216, 193, 119);
  border-bottom: 2px solid rgb(172, 154, 95);
}

#search-box {
  padding-left: 35px;
}

.cart-items {
  color: rgb(97, 63, 126);
}

.toggle {
  grid-area: toggle;
  display: grid;
  align-content: center;
  color: rgb(97, 63, 126);
  font-size: 1.5rem;
}

.auth {
  display: grid;
  justify-content: center;
  grid-area: auth;
}

.useful-links {
  display: grid;
  justify-content: center;
  grid-area: useful-links;
}

.hidden {
  display: none;
}

#cart-icon {
  color: rgb(97, 63, 126);
}

.toggle-link {
  color: rgb(216, 193, 119);
  justify-content: center;
  display: grid;
  padding: 1rem 0;
}

.logo {
  font-family: "XXII-ARABIAN-ONENIGHTSTAND";
  src: local("XXII-ARABIAN-ONENIGHTSTAND"),
    url(./fonts/XXII-ARABIAN-ONENIGHTSTAND.ttf) format("truetype");
  font-size: 2.5rem;
  color: rgb(97, 63, 126);
  grid-area: logo;
}

.cart {
  grid-area: cart;
  display: flex;
  align-items: center;
}

.toggle-items {
  grid-area: toggle-items;
  background-color: rgb(97, 63, 126);
}

input[type="text"] {
  background-image: url("images/search-solid.svg");
  background-position: 0.5rem 0.5rem;
  background-repeat: no-repeat;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 0.4rem 0.9rem;
  border: 1.5px solid lightgray;
  border-radius: 20px;
  outline: none;
  margin: 1rem 0;
  color: grey;
  font-weight: 500;
  font-size: 0.85rem;
  transition: box-shadow 0.3s linear;
}

option {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 0.1rem 0.5rem;
  color: rgb(97, 96, 96);
}

input[type="text"]:focus {
  box-shadow: 0 0 3px grey;
}

.filter-category,
.filter-department,
.filter-price {
  display: flex;
  flex-direction: column;
  padding: 0 15px 15px 15px;
}

.select-category,
.select-department {
  border-radius: 5px;
  border: 1.5px solid rgb(192, 191, 191);
}

select {
  outline: grey;
  margin: 10px 0 15px 0;
  transition: box-shadow 0.5s ease-in-out;
  padding: 2px;
}

select:focus {
  outline: none;
  box-shadow: 0 0 3px grey;
}
.search-form {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

label {
  color: rgb(97, 63, 126);
  text-shadow: 0 0 1px rgb(97, 63, 126);
}

#footer {
  text-align: center;
  background-color: rgb(216, 193, 119);
  color: rgb(97, 63, 126);
  border-top: 2px solid rgb(172, 154, 95);
}

/* Tablet: */
@media only screen and (min-width: 600px) {
  .hidden {
    display: inline;
  }

  .visible {
    display: inline;
  }

  .toggle-link {
    display: inline;
    margin: 0 0.2rem;
    color: rgb(97, 63, 126);
  }
  .toggle-items {
    background-color: rgb(216, 193, 119);
    display: flex;
    width: 80%;
    order: 2;
    justify-content: flex-end;
  }

  .toggle {
    display: none;
  }

  .navbar {
    display: flex;
    background-color: rgb(216, 193, 119);
    border-bottom: 2px solid rgb(172, 154, 95);
    grid-template-rows: 1fr;
  }

  .useful-links {
    display: flex;
    order: 1;
    width: 64%;
    gap: 15px;
  }

  .auth {
    display: flex;
    order: 2;
  }

  .logo {
    display: inline;
    order: 1;
    grid-column: 1 / span 2;
  }

  .cart {
    display: grid;
    grid-column: 12 / 13;
    order: 3;
    place-items: center;
    justify-content: end;
  }

  .filter-category,
  .filter-department {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 0 15px 15px 15px;
  }

  .filter {
    display: flex;
    flex-flow: wrap;
  }

  .filter-price {
    width: 100%;
  }
}

/* Desktop: */
@media only screen and (min-width: 812px) {
  img {
    max-height: none;
    max-width: 190px;
  }

  .item {
    height: auto;
  }

  .item-details {
    height: auto;
  }

  .content {
    display: flex;
  }

  .navbar {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
  }

  .logo {
    grid-column: 1 / 2;
  }

  .cart {
    grid-column: 24 /25;
  }

  .toggle-items {
    grid-area: auto;
    grid-column: 2 / 24;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
  }

  .useful-links {
    grid-column: 4 / 11;
    gap: 15px;
  }

  .auth {
    grid-column: 10 / 12;
    gap: 15px;
  }

  .aside {
    width: 20%;
  }

  .filter {
    flex-direction: column;
    padding-right: 30px;
  }

  .search-form {
    justify-content: flex-start;
    padding: 15px 15px;
  }

  input[type="text"] {
    width: 100%;
  }

  .filter-category,
  .filter-department {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 15px 15px 15px;
  }

  .select-category,
  .select-department {
    width: inherit;
  }
}
